@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../files/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 99;
}

.logo {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
}

.login-container {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-login {
    width: 100%;
    padding: 40px;
    text-align: center;
}

.intro {
    color: #fff;
    font-size: 2rem;
    user-select: none;
    text-transform: uppercase;
}

.google-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    padding: 10px 14px;
    font-size: 15px;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.google-btn img {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.google-btn:hover {
    background: #ebe9e9;
}

/* Jobs */

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 100px;
    background: #162938;
}

header.navigation .nav-logo {
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    user-select: none;
    margin-right: auto;
}

header.navigation .nav-links ul li a.main-nav {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1 !important;
    text-decoration: none !important;
}

header.navigation .nav-links ul li {
    display: inline-block;
    padding: 0px 40px;
}

header.navigation .nav-links ul li a.main-nav::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -7px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

header.navigation .nav-links ul li a.main-nav:hover::after {
    transform: scaleX(1);
}

header.navigation .nav-links ul li .logout-btn {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    color: #fff !important;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header.navigation .nav-links ul li .logout-btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
}